@use "src/Breakpoints" as bp
@use "src/globalStyles" as style

.slidebutton-a
    color: Black
    text-align: center
    border: 2px solid rgb(216, 2, 134)
    border-radius: 8px
    width: 90px
    padding: 8px
    cursor: pointer
    box-shadow: inset 0 0 0 0 #D80286
    float: right
    display: inline
    text-decoration: none
    color: black
    -webkit-transition: font-weight .08s, ease .08s
    -moz-transition: font-weight 0.08s, ease .08s
    transition: font-weight .08s, ease .08s

    &:hover
        box-shadow: inset 0 0 0 2px #D80286
        text-decoration: none
        color: black
        font-weight: bold
